<h1 class="line-bottom display-6">
    A list of words</h1>


<div class="d-sm-flex justify-content-between align-items-center">
    <nav class="line-bottom">
        <ul class="pagination pagination-sm my-0">
            <li class="page-item flex-fill text-center text-nowrap active">
                <a class="page-link" href="/words">All</a>
            </li>
            <li class="page-item flex-fill text-center text-nowrap  ">
                <a class="page-link" href="/words?status=1">Waiting</a>
            </li>
            <li class="page-item flex-fill text-center text-nowrap  ">
                <a class="page-link" href="/words?status=2">In progress</a>
            </li>
            <li class="page-item flex-fill text-center text-nowrap  ">
                <a class="page-link" href="/words?status=3">Completed</a>
            </li>
        </ul>
    </nav>
    <div class="line-bottom">
        <form (submit)="search() ; $event.preventDefault()" method="get" class="input-group input-group-sm">
            <input [formControl]="searchForm" type="text" name="search" class="form-control" placeholder="Search...">
            <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
        </form>
    </div>
</div>

<app-words-table [words]="listWords.words" [showEditLink]="true"></app-words-table>
<app-paginater
        [currentPage]="page"
        [totalPageNumber]="listWords.totalPages">
</app-paginater>
