.cell-narrow {
    width: 1px;
}

.line-bottom {
    margin-bottom: 2rem;
}

.line-top {
    margin-top: 2rem;
}

.transcription::after {
    content: "/";
}

.transcription::before {
    content: "/";
}

.word {
    text-transform: capitalize;
}

.translation {
    text-transform: capitalize;
}