<div class="table-responsive line-bottom">
    <table class="table js-words-list words-list mb-0">
        <thead>
        <tr>
            <th>Word</th>
            <th colspan="2">Transcription</th>
            <th>Translation</th>
            <th></th>
            <th>Part of speech</th>
            <th *ngIf="showEditLink"></th>
        </tr>
        </thead>
        <tbody *ngFor="let word of words">
        <tr class="js-word word ">
            <td class="">{{word.word}}</td>
            <td class="text-nowrap pe-0 cell-narrow">
                <a
                        data-bs-toggle="tooltip"
                        data-bs-title="Pronounce"
                        class="js-pronounce-link me-1">
                    <i (click)="audio(word.pronunciation); $event.preventDefault()" class="bi bi-mic"></i>
                </a>
            </td>
            <td class="text-nowrap ps-0">
                <span class="transcription">{{word.transcription}}</span>
            </td>
            <td class="translation">{{word.translation}}<br/>
            </td>
            <td>
                <i *ngIf="word.level!=null" [class]="showLevel(word)" title="Next training: 06.02.2023"></i>
            </td>
            <td class="text-body-tertiary">
                {{word.partOfSpeech}}
            </td>
            <td class="text-nowrap cell-narrow" *ngIf="showEditLink">
                <a [routerLink]="'/words/'+word.id" data-bs-toggle="tooltip" data-bs-title="Edit"><i
                        class="bi bi-pencil"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
